
.flex-container {
  display: flex;
  div {
    width: auto;
    height: auto;
    margin: 10px;
    text-align: center;
    line-height: 100px;
    font-size: 30px;
  }
}
.circle{
  color: #f9f9f9;
  margin: 20px;
  background: #3a3737;
  height: 5rem;
  width: 5rem;
  position: absolute;
  border-radius: 50%;
}
.triangle{
  color: #f9f9f9;
  left: 10px;
  width: 0;
  height: 0;
  border-left: 60px solid transparent;
  border-right: 60px solid transparent;
  border-bottom: 60px solid black;


}
